.navigation-bar {
	padding: var(--space-small);
	height: auto;
	background-color: var(--color-white);
	box-shadow: 0 3px 6px rgb(0 0 0 / 7%);
	display: flex;
	align-items: center;
	gap: 5vw;
}

.logo-container a {
	font-size: 0;
}

img {
	width: auto;
	height: 3rem;
	border-radius: 50%;
}

.nav-link {
	margin-right: 4vw;
	font-size: 0.75rem;
	font-weight: 600;
}

.nav-link a {
	text-decoration: none;
}

.nav-link a.active {
	color: var(--color-pink);
}

.hamburger-wrapper {
	display: none;
	z-index: 6;
}

.navigation {
	width: 100%;
	height: 50px;
}

@media (max-width: 767px) {
	.hamburger-wrapper {
		display: block;
		padding-top: 10px;
		margin-left: 15px;
		z-index: 6;
	}

	.navigation-bar ul {
		display: none;
		height: 75vh;
		width: 50vw;
		position: fixed;
		top: 0;
		left: 0;
		background-color: var(--color-pink);
		color: var(--color-white);
	}

	.navigation-bar ul.open {
		display: block;
		padding-top: 110px;
		padding-left: 15px;
	}

	.nav-link {
		margin-bottom: 0.9rem;
		font-size: 1.1em;
	}

	.nav-link a.active {
		color: inherit;
	}
}
